.header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.headerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 3rem;
  width: 100%;
}

.headerIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-right: 2rem;
  flex-shrink: 0;
}

.headerIcon {
  width: 3rem;
  height: 3rem;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #222222;
  padding: 1rem;
  width: 100%;
}

.menuItem {
  display: flex;
  align-items: center;
  color: white;
  font-size: medium;
}

.mainGrid {
  display: flex;
  flex-direction: column;
}

.heroSection {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  text-align: center;
}

.heroText {
  padding: 3rem 0 3rem 0;
  font-size: 3rem;
}

.infoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5rem 0 5rem 0;
  background-color: #e9e4db;
}

.infoLeft,
.infoCenter,
.infoRight {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.icon {
  width: 80px;
}

.textInfo {
  font-size: small;
  width: 50%;
}

.footerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #e9e4db;
  margin: 3rem 0 0 0;
  padding: 1.5rem 0;
  text-align: center;
}

.footerContent {
  max-width: 1200px;
  width: 100%;
}

.footerNav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footerLink {
  color: black;
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}

.notFound {
  text-align: center;
  padding: 50px;
}

.backHome {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}

.locationSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  text-align: center;
}

.locationTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 3rem 0;
}

.locationNames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 5rem 0;
  font-size: x-large;
}

.locationSubNames {
  font-size: large;
}

.locationCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locationCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 5rem 0 5rem 0;
  width: 90%;
  background-color: #e9e4db;
}

.locationImage {
  width: 800px;
}

.locationInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: medium;
  text-align: center;
}

.storySection {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.storyCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 3rem 0 3rem 0;
}

.storyCard:last-child {
  flex-direction: column-reverse;
}

.storyImage {
  width: 600px;
}

.storyInfo {
  width: 90%;
}
.storyInfoSection {
  display: flex;
}

.loginSection,
.registerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  border: 0.5rem solid none;
  border-radius: 1rem;
  width: 80%;
  padding: 2rem 0 2rem 2rem;
  background-color: white;
}

.inputForm {
  padding: 0.5rem 0;
  width: 90%;
}

.inputForm::placeholder {
  padding-left: 0.5rem;
}

.loginButton,
.registerButton {
  background-color: #222222;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  width: 40%;
  text-decoration: underline;
}

.hr {
  width: 90%;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  .headerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 16rem;
    width: 100%;
  }

  .headerIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
    flex-shrink: 0;
  }

  .headerIcon {
    width: 4rem;
    height: 4rem;
  }

  .navBar {
    display: flex;
    justify-content: space-evenly;
    background-color: #222222;
  }

  .menuItem {
    color: white;
    font-size: large;
  }

  .mainGrid {
    display: flex;
    flex-direction: column;
  }

  .heroSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
  }

  .infoSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5rem 0;
  }

  .infoLeft,
  .infoCenter,
  .infoRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 20%;
  }

  .icon {
    width: 150px;
  }

  .textInfo {
    font-size: large;
    text-align: center;
    width: 50%;
  }

  .footerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #e9e4db;
    padding: 1.5rem 0;
    text-align: center;
  }

  .footerContent {
    max-width: 1200px;
    width: 100%;
  }

  .footerNav {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .footerLink {
    color: black;
    text-decoration: none;
  }

  .footerLink:hover {
    text-decoration: underline;
  }

  .locationSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
  }

  .locationTitle {
    text-align: center;
  }

  .locationNames {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 0 10rem 0;
    font-size: x-large;
  }

  .locationSubNames {
    font-size: large;
  }

  .locationCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .locationCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 0 10rem 0;
    background-color: #e9e4db;
    width: 70%;
  }

  .locationImage {
    width: 600px;
  }

  .locationInfo {
    width: 20%;
  }

  .storySection {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
  }

  .storyCard {
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 10rem 0 10rem 0;
  }

  .storyImage {
    width: 600px;
  }

  .storyInfo {
    width: 30%;
  }
  .storyInfoSection {
    display: flex;
  }
  .loginSection,
  .registerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }

  .loginForm,
  .registerForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    border: 0.1rem solid none;
    border-radius: 1rem;
    width: 20%;
    padding: 3rem 0 3rem 3rem;
    background-color: white;
  }

  .inputForm {
    padding: 0.5rem 0;
    width: 70%;
  }

  .inputForm::placeholder {
    padding-left: 0.5rem;
  }

  .loginButton,
  .registerButton {
    background-color: #222222;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 3rem;
    width: 30%;
    text-decoration: underline;
  }
}
